* {
  box-sizing: border-box;
  background-size: contain !important;
  background-position: center center !important;
}
body {
  margin: 0;
  padding: 0;
}
main {
  height: 99vmin;
  max-height: 700px;
  border: 2px solid #ccc;
  display: block;
  margin: auto;
}
main * {
  max-width: 100%;
  height: auto;
}
h1,
h2 {
  display: block;
  width: fit-content;
  margin: auto;
}

h2 {
  color: blue;
}
